* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainButton {
  min-height: 50px;
  min-width: 150px;

  padding: 5px 10px;

  background-color: rgb(135, 162, 212);
  color: white;

  font-size: 16px;
  font-weight: 400;

  border: 1.5px solid white;
  border-radius: 5px;

  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.mainButton:hover {
  background-color: rgb(149, 170, 209);

  font-weight: bold;
}

nav {
  min-width: 100vw;

  padding: 20px 40px;

  background-color: rgb(149, 170, 209);
  border: 1.5px solid white;


}

nav ul {
  display: flex;
  justify-content: space-between;

  list-style: none;

}

nav ul li a {
  font-size: 22px;
  font-weight: 400;

  text-decoration: none;

  color: white;
}

nav ul li a:hover {
  font-weight: bold;
}